.details-wrapper {
    width: 100%;
    background: lighten($light-grey, 4%);
    display: flex;
    flex-direction: column;

    .details {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 5rem;

        &__caption {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 4px;
            border-bottom: 1px solid lighten($color-border, 5%);

            h1 {
                font-size: 0.9rem;
                line-height: 1.125rem;
                font-weight: 700;
                color: rgba($default-font-color, 0.808);
                margin: 0.75rem 0px;
            }

            p {
                font-size: 0.8rem;
                color: inherit;
                text-decoration: none;
                margin-left: 0.25rem;
                line-height: 2rem;
            }

            span {
                text-align: center;
            }

            h2 {
                font-size: 0.875rem;
                line-height: 2rem;
                font-weight: 700;
                color: $kabum-orange;
                margin-left: 0.25rem;
            }
        }

        .name {
            font-size: $default-font-size;
            line-height: 2.125rem;
            font-weight: 700;
            color: $dark-grey;
            margin: 1.4rem 0px;
        }

        &__item {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 50px;

            &__left {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                &__top {
                    margin-bottom: 30px;
                    margin-top: 10px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 50px;

                    &__logo {
                        display: flex;

                        img {
                            max-width: 80px;
                        }
                    }

                    &__rating {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        &__stars {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            svg {
                            }

                            &__value {
                                p {
                                }
                            }
                        }
                    }

                    &__actions {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;

                        a {
                            &.details__item__left__top__actions__item {
                                svg {
                                    transform: scale(0.9);
                                }
                            }
                        }
                    }
                }

                &__middle {
                    position: relative;
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .products_pics-embla-prev {
                        position: absolute;
                        top: 0;
                        left: 2px;

                        svg {
                        }
                    }

                    .products_pics-embla-next {
                        position: absolute;
                        bottom: 0;
                        left: 2px;
                        transform: rotate(180deg);

                        svg {
                        }
                    }

                    &__left {
                        transform-origin: bottom left;
                        transform: rotate(90deg);
                        position: absolute;
                        left: -1.7%;
                        top: -9%;
                        width: 30vh;
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;

                        &__carousel {
                            width: 100%;
                            height: 55px;
                            display: flex;
                            align-items: center;
                            overflow: hidden;

                            &__drag {
                                width: 100%;
                                display: flex;
                                gap: 20px;

                                &__item {
                                    height: 50px !important;
                                    width: 50px !important;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-shrink: 0;
                                    transform: rotate(-90deg);

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        vertical-align: center;
                                    }
                                }
                            }
                        }
                    }

                    &__right {
                        position: relative;
                        width: 100%;
                        height: 320px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-left: 60px;

                        img {
                            height: 100%;
                            vertical-align: center;
                            object-fit: cover;
                        }

                        &__sale-tag {
                            position: absolute;
                            top: 0;
                            right: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: max-content;
                            padding: 0.5rem;
                            background-color: darken($brand-blue, 10%);
                            border-radius: 1000px;

                            p {
                                font-size: 13px;
                                text-transform: uppercase;
                                color: $pure-white;
                                font-weight: 600;
                            }
                        }
                    }
                }

                &__bottom {
                    margin-top: 80px;
                    margin-bottom: 30px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 20px;

                    &__title {
                        display: flex;

                        h1 {
                            color: $dark-grey;
                            font-size: $small-font-size;
                            line-height: 1rem;
                            font-weight: 700;
                        }
                    }

                    &__address {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        input {
                            box-shadow: none;
                            outline: none;
                            border-radius: 3px;
                            border: 1px solid lighten($border-color, 8%);
                            height: 2.2rem;
                        }

                        a {
                            &:nth-of-type(1) {
                                font-size: $small-font-size;
                                line-height: normal;
                                font-weight: 700;
                                display: flex;
                                -webkit-box-pack: center;
                                justify-content: center;
                                -webkit-box-align: center;
                                align-items: center;
                                background: transparent;
                                cursor: pointer;
                                height: 2.2rem;
                                padding: 0.2rem 1.6rem;
                                border: 0.0625rem solid $kabum-orange;
                                color: $kabum-orange;
                                border-radius: 0.25rem;
                            }

                            &:nth-of-type(2) {
                                font-size: 0.875rem;
                                line-height: 0.875rem;
                                font-weight: 700;
                                flex-shrink: 0;
                                text-decoration: underline;
                                color: $kabum-orange;
                            }
                        }
                    }

                    &__warning {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        span {
                            svg {
                            }
                        }

                        p {
                            font-size: 0.75rem;
                            line-height: 1rem;
                            color: $medium-grey;
                        }
                    }
                }
            }

            &__right {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                &__sale-banner {
                    width: 100%;
                    height: 130px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    border-radius: 4px;
                    padding: 30px;
                    background: darken($brand-blue, 3%);

                    img {
                        display: none;
                    }

                    &__left {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        span {
                        }

                        p {
                            font-size: 1.25rem;
                            line-height: 1.875rem;
                            font-weight: 400;
                            color: $pure-white;
                        }
                    }

                    &__right {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        span {
                        }

                        p {
                            font-size: 1.25rem;
                            line-height: 1.875rem;
                            font-weight: 400;
                            color: $pure-white;
                        }
                    }
                }

                &__actions {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;

                    &__caption {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px 0;

                        p {
                            font-size: 18px;
                            color: $primary-color;

                            strong {
                            }

                            span {
                                color: $color-success;
                            }
                        }

                        a {
                            text-decoration: none;
                            color: $brand-orange;
                            font-size: $small-font-size;
                        }
                    }

                    &__texts {
                        display: flex;
                        width: 100%;

                        &__left {
                            margin-top: 1rem;
                            width: 50%;
                            display: flex;
                            flex-direction: column;

                            .sale {
                                font-size: 0.875rem;
                                line-height: 1.3125rem;
                                color: $medium-grey;
                                text-decoration: line-through;
                            }

                            p {
                                font-size: 0.875rem;
                                line-height: 1.25rem;
                                color: $dropdown-option-text;
                            }

                            h1 {
                                font-size: 2.5rem;
                                line-height: 3rem;
                                font-weight: 700;
                                display: flex;
                                -webkit-box-align: center;
                                align-items: center;
                                color: $kabum-orange;
                            }

                            a {
                                font-size: 0.875rem;
                                line-height: 1.5rem;
                                display: flex;
                                margin-top: 0.5rem;
                                margin-left: 0.0625rem;
                                background: transparent;
                                border: none;
                                text-decoration: underline;
                                color: $dropdown-option-text;
                            }
                        }

                        &__right {
                            width: 50%;
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;
                            gap: 0.5rem;
                            margin-top: 2rem;

                            .details__item__right__actions__texts__right__buy {
                                gap: 6px;
                                background-color: $kabum-orange;
                                display: flex;
                                -webkit-box-align: center;
                                align-items: center;
                                -webkit-box-pack: center;
                                justify-content: center;
                                max-width: 100%;
                                height: 3rem;
                                width: 100%;
                                padding: 13px;
                                border-width: 1px;
                                border-style: solid;
                                border-color: $kabum-orange;
                                border-radius: 0.25rem;
                                cursor: pointer;

                                h1 {
                                    color: $pure-white;
                                    font-size: 1.125rem;
                                    line-height: 1.125rem;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                }

                                &.disabled {
                                    background-color: $input-border-color;
                                    border-color: $input-border-color;
                                    color: $medium-grey;
                                    pointer-events: none;
                                    cursor: not-allowed;

                                    h1 {
                                        color: $medium-grey;
                                    }

                                    svg path {
                                        fill: $medium-grey;
                                    }
                                }
                            }

                            .details__item__right__actions__texts__right__cart {
                                display: flex;
                                -webkit-box-align: center;
                                align-items: center;
                                -webkit-box-pack: center;
                                justify-content: center;
                                height: 3rem;
                                width: 3rem;
                                border: 0.0625rem solid $kabum-orange;
                                border-radius: 0.25rem;
                                background: $kabum-orange;
                                padding: 0 1rem;

                                svg {
                                    filter: brightness(100);
                                    flex-shrink: 0;
                                }

                                &.disabled {
                                    background-color: $input-border-color;
                                    border-color: $input-border-color;
                                    color: $medium-grey;
                                    pointer-events: none;
                                    cursor: not-allowed;

                                    h1 {
                                        color: $medium-grey;
                                    }

                                    svg {
                                        filter: none;
                                    }

                                    svg path {
                                        fill: $medium-grey;
                                    }
                                }
                            }
                        }
                    }
                }

                &__related-products {
                    margin-top: 2.6rem;
                    position: relative;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;

                    &__caption {
                        margin-bottom: 20px;
                        display: flex;
                        width: 100%;

                        svg {
                            transform: scale(1.2);
                        }

                        p {
                            margin-left: 8px;
                            font-size: 18px;
                            text-transform: uppercase;
                            color: $dark-grey;
                            font-weight: 700;
                        }
                    }

                    .related_pics-embla-prev {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: rotate(270deg);
                    }

                    .related_pics-embla-next {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: rotate(90deg);
                    }

                    span {
                        svg {
                        }
                    }

                    &__carousel {
                        width: 100%;
                        display: flex;
                        overflow: hidden;

                        &__drag {
                            width: 100%;
                            display: flex;

                            &__item {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                img {
                                    display: inline-block;
                                    flex-grow: 0;
                                    flex-shrink: 0;
                                    width: 92px;
                                    height: 92px;
                                    vertical-align: center;
                                    object-fit: cover;
                                    margin: 0 20px;
                                    margin-bottom: 0.8rem;
                                }

                                h1 {
                                    font-size: 0.95rem;
                                }

                                p {
                                }
                            }
                        }
                    }
                }
            }
        }

        &__desc {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            &__item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                &__up {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 2rem;
                    padding: 1.5rem 3rem;
                    background: $pure-white;
                    border-radius: 3px;
                    cursor: pointer;

                    h1 {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 1rem;
                        font-size: 1.4rem;
                        line-height: 2.125rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: $dark-grey;
                    }

                    svg {
                        &:nth-of-type(2) {
                            justify-self: flex-end;
                        }
                    }
                }

                &__down {
                    width: 100%;

                    &__desc {
                        width: 100%;

                        p {
                            width: 100%;
                            border-radius: 3px;
                            padding: 0 3rem;
                            padding-bottom: 2rem;
                            font-size: 0.9rem;
                            line-height: 150%;
                            background-color: $pure-white;
                            color: $color-text-dark;
                        }
                    }

                    &.off {
                        display: none;
                    }
                }
            }
        }
    }
}
