$primary-color: #000000;
$secondary-color: #ffffff;

$default-font-color: #000000;
$default-font: "Roboto", sans-serif;
$default-font-size: 1.5rem;

$default-title-font-color: #000000;
$default-title-font: "Fira Sans", sans-serif;
$default-title-font-size: 4rem;

// margin e padding
// Relativo a texto - em
// Div interna (card) - rem
// Banner ou section - vw

$color-primary: #ff6500;
$color-secondary: #007bff;
$color-text-dark: #333;
$color-text-light: #fff;
$color-border: #ddd;
$color-background-light: #f5f6f5;
$color-success: #008000;
$color-danger: #ff0000;

$primary-orange: #ff6500;
$dark-grey: #42464d;
$medium-grey: #7f858d;
$light-grey: #e5e5e5;
$white: #ffffff;
$background-light: #f8f8f8;
$border-color: #dcdcdc;
$error-red: #DC3545;
