$primary-color: #000000;
$secondary-color: #FFFFFF;

$default-font-color: #000000;
$default-font: 'Roboto', sans-serif;
$default-font-size: 1.5rem;

$default-title-font-color: #000000;
$default-title-font: 'Times New Roman', sans-serif;
$default-title-font-size: 4rem;

// margin e padding
// Relativo a texto - em
// Div interna (card) - rem
// Banner ou section - vw
